@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Inter:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&family=Sora:wght@500&family=Space+Grotesk:wght@500&display=swap');


.background {
  background-color: #181925;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  font-family: 'Sora', sans-serif;
}